<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command patch:instead="*[@name='forms:edit']" name="forms:edit" type="Sitecore.Support.Forms.Core.Commands.EditForm,Sitecore.Support.95304" />
    </commands>
  </sitecore>
</configuration>